.DS_Store
part1.asv
part2.asv
part3.asv
propagate.asv
free_space.png
lens.png
light_field.png
light_field_propagated.png
light_field_clear.png
separated.png
separated1.png
separated2.png
separated3.png